<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>117819734543-9bb0c4huejjuijso7su7p168njied8c7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117819734543-9bb0c4huejjuijso7su7p168njied8c7</string>
	<key>API_KEY</key>
	<string>AIzaSyCkBK5lEkjKCPn20p-3fc2DXp1xXTiYBcE</string>
	<key>GCM_SENDER_ID</key>
	<string>117819734543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shortcuts.sascaapp</string>
	<key>PROJECT_ID</key>
	<string>sasca-13ab0</string>
	<key>STORAGE_BUCKET</key>
	<string>sasca-13ab0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117819734543:ios:0ba5809f371e9733</string>
	<key>DATABASE_URL</key>
	<string>https://sasca-13ab0.firebaseio.com</string>
</dict>
</plist>
